.endBoard {
	height: 14rem;
    width: 12rem;
    border: 1px grey solid;
    border-radius: 5px;
    margin: 4rem auto 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
}

.over {
    font-size: 1.6rem;
    font-weight: 600;
}

.score {
    font-size: 1.2rem
}

.highest {
    font-size: 0.8rem
}

.restart {
    width: 4rem;
    height: 2.5rem;
    border: 1px grey solid;
    border-radius: 0.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.restart:hover {
    cursor: pointer;
}