.endBoard {
	height: 14rem;
    width: 12rem;
    border-radius: 5px;
    margin: 4rem auto 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	background-color: #fff;
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.over {
    font-size: 1.6rem;
    font-weight: 600;
}

.score {
    font-size: 1.2rem
}

.highest {
    font-size: 0.8rem
}

.restart {
    width: 4rem;
    height: 2.5rem;
    border: 1px grey solid;
    border-radius: 0.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.restart:hover {
    cursor: pointer;
}