.block {
    width: 1rem;
    height: 1rem;
    border: 1px black solid;
}

.block-arr {
    box-sizing: content-box;
    width: calc(1rem - 1px);
    height: calc(1rem - 1px);
    z-index: -1;
    border: 1px black solid;
    position: absolute;
}
.type-1 {
    display: flex;
    height: 1rem;
    width: 4rem;
    position: absolute;
}

.type-1 .block:first-child,
.type-1 .block:nth-child(2),
.type-1 .block:nth-child(3) {
    border-right-width: 0.5px;
}

.type-1 .block:last-child,
.type-1 .block:nth-child(2),
.type-1 .block:nth-child(3) {
    border-left-width: 0.5px;
}

.type-2 {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 3rem;
    position: absolute;
}

.type-2-1 {
    margin: 0 auto;
    border-bottom-width: 0.5px;
}

.type-2-2 {
    display: flex;
    height: 1rem;
}

.type-2-2 .block:first-child {
    border-right-width: 0.5px;
}

.type-2-2 .block:nth-child(2) {
    border-right-width: 0.5px;
    border-left-width: 0.5px;
    border-top-width: 0.5px;
}

.type-2-2 .block:last-child {
    border-left-width: 0.5px;
}

.type-3 {
    display: flex;
    width: 2rem;
    height: 2rem;
    flex-flow: wrap;
    position: absolute;
}

.type-3 .block:first-child {
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
}

.type-3 .block:nth-child(2) {
    border-left-width: 0.5px;
    border-bottom-width: 0.5px;
}

.type-3 .block:nth-child(3) {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
}

.type-3 .block:last-child {
    border-top-width: 0.5px;
    border-left-width: 0.5px;
}

.type-4 {
    display: flex;
    width: 2rem;
    height: 3rem;
    position: absolute;
}

.type-4-1 {
    display: flex;
    flex-direction: column;
}

.type-4-1 .block:first-child {
    border-bottom-width: 0.5px;
}

.type-4-1 .block:nth-child(2) {
    border-bottom-width: 0.5px;
    border-top-width: 0.5px;
}

.type-4-1 .block:last-child {
    border-right-width: 0.5px;
    border-top-width: 0.5px;
}

.type-4-2 {
    display: flex;
    flex-direction: column-reverse;
}

.type-4-2 .block {
    border-left-width: 0.5px;
}

.type-5 {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 2rem;
    position: absolute;
}

.type-5-1 {
    display: flex;
    flex-direction: row;
}

.type-5-1 .block:first-child {
    border-right-width: 0.5px;
}

.type-5-1 .block:last-child {
    border-left-width: 0.5px;
    border-bottom-width: 0.5px;
}

.type-5-2 {
    display: flex;
    flex-direction: row-reverse;
}

.type-5-2 .block:first-child {
    border-left-width: 0.5px;
}

.type-5-2 .block:last-child {
    border-right-width: 0.5px;
    border-top-width: 0.5px;
}

.type-6 {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    position: absolute;
}

.type-6 > .block {
    border-bottom-width: 0.5px;
}

.type-6-1 {
    display: flex;
    flex-direction: row;
}

.type-6-1 > .block:first-child {
    border-right-width: 0.5px;
    border-top-width: 0.5px;
}

.type-6-1 > .block:last-child {
    border-left-width: 0.5px;
}