* {
    padding: 0;
    margin: 0;
    /*给火狐浏览器使用，避免不兼容*/
    -moz-box-sizing: border-box;
    /* 给webkit内核浏览器，避免不兼容*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-size: 25px;
}

.ant-btn {
	width: 80px;
    height: 36px;
    font-size: 0.8rem;
    padding: 0;
    line-height: 30px;
}
