.tool {
    width: 8rem;
    height: 24rem;
    border: 1px black solid;
	border-left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.next-pattern-box p {
    text-align: center;
}

.pre-pattern {
    margin: 1rem auto 0;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-control {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.arrow-control img {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.arrow-control .l-r-arrow {
	width: 4.5rem;
	display: flex;
	justify-content: space-between;
}