.tool {
    width: 8rem;
    height: 24rem;
    border: 1px black solid;
	border-left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.next-pattern-box p {
    text-align: center;
}

.pre-pattern {
    margin: 1rem auto 0;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-control {
    display: none;
}

.tips-box {
	font-size: 0.65rem;
	margin: -0.5rem 0;
}

.tips-box > div {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

.tips-box img {
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.8rem;
}